.productCard {
  max-width: var(--card-width);
  background-color: var(--bg-surface);
  border-radius: var(--radius-md);
}

.content {
  padding: var(--space-8);
}

.content > *:not(:last-child) {
  margin-bottom: var(--space-6);
}

@media (min-width: 768px) {
  .productCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .content > *:not(:last-child) {
    margin-bottom: var(--space-8);
  }
}
